---
import DefaultLayout from '../layouts/DefaultLayout.astro'

interface Document {
  ss_representative_image: string
  bundle: string
  ss_identifier: string
  ss_book_identifier: string
  ss_title: string
  sm_author: string[]
  sm_publisher: string[]
  ss_spublisher: string
  ss_pubdate: string
  sm_collection_partner_label: string[]
  sm_subject_label: string[]
  ss_publocation: string
  sm_field_publication_location: string[]
  sm_field_identifier: string;
  ss_title_long: string;
}

const appRoot = '/'
const viewerUrl = 'https://sites.dlib.nyu.edu/viewer'
const pageTitle = 'Monographs, Maps, Postcards, Prints'
const pageDescription = 'Monographs, Maps, Postcards, Prints'
const start = 1
const rows = 12
const apiUrl = `https://discovery1.dlib.nyu.edu/solr/viewer/select?wt=json&q=*&fl=*&fq=hash:705lna&fq=sm_collection_code:io&rows=${rows}&start=${start}&sort=ss_sauthor%20asc`
const data = await fetch(apiUrl).then((res) => res.json())
const documents: Document[] = data.response.docs
const numFound: number = data.response.numFound

export function getDocumentTypeByBundle(bundle: string): string | undefined {
  return {
    'dlts_book': 'books',
    'dlts_map': 'maps',
  }[bundle]
}

---

<DefaultLayout
  title={pageTitle}
  description={pageDescription}
>
  <header>
    <h2 class="page-title">{pageTitle}</h2>
    <div class="resultsnum">Showing items <span class="start">{start}</span> - <span class="docslength">{rows}</span> of <span class="numfound">{numFound}</span></div>
    <div class="filters">
      <select id="browse-select" aria-label="Search Sort Results">
        <option data-sort-dir="asc" value="ss_longlabel" selected>Sort by Title</option>
        <option data-sort-dir="asc" value="ss_sauthor">Sort by Author</option>
        <option data-sort-dir="asc" value="ss_ssubject">Sort by Subject</option>
        <option data-sort-dir="asc" value="ss_publocation">Sort by Place</option>
      </select>
    </div>
  </header>
  <div class="widget">
    <div class="item-list flex-container">
    {
      documents.map((document) => (
        <article class="item">
          <div class="card">
            <div class="thumbs">
              <div class="clipper">
                <a href={`${getDocumentTypeByBundle(document.bundle)}/${document.sm_field_identifier}`} aria-hidden="true" role="presentation" tabindex="-1">
                  <img src={`${viewerUrl}/api/image/${getDocumentTypeByBundle(document.bundle)}/${document.sm_field_identifier}/1/full/150,/0/default.jpg`} alt="" title={document.ss_title_long} role="presentation">
                </a>
              </div>
            </div>
            <h1 class="md_title">
              <a href="/book/{document.sm_field_identifier}/1">{document.ss_title_long}</a>
            </h1>
            <div class="md_authors">
              <span class="md_label">Author:</span> 
              {
                document.sm_author.map((author) => (
                  <span class="md_author">{author}</span>
                ))
              }
            </div>
            <div class="md_publisher">
              <span class="md_label">Publisher:</span>
              {
                document.sm_field_publication_location.map((location) => (
                  <span>{location}</span>
                ))
              }
              , 
              {
                document.sm_publisher.map((publisher) => (
                  <span>{publisher}</span>
                ))
              }
              , {document.ss_pubdate}
            </div>
          </div>
          <div class="md_provider">
            <span class="md_label">Provider:</span> 
            {
              document.sm_collection_partner_label.map((collectionPartner) => (
                <span>{collectionPartner}</span>
              ))
            }
          </div>
          <div class="md_subjects">
            <span class="md_label">Subjects:</span>
            {
              document.sm_subject_label.map((subject) => (
                <a class="md_subject" href={`${appRoot}}/search?q=${subject}`}>{subject}</a>
              ))
            }
          </div>
        </article>
      ))
    }
    <article class="item"></article>
    <article class="item"></article>
    </div>
    <div class="text-center">
      <div id="paginator" class="pagination"></div>
    </div>
  </div>
</DefaultLayout>
