---
import NavigationItem from "./Navigation/NavigationItem.astro";
import NavigationMobileMenu from "./Navigation/NavigationMobileMenu.astro";
import SearchForm from './SearchForm'

const appUrl = 'http://localhost:3000'

const appName = 'Indian Ocean Digital Collection'

const HeaderNavigationItems = [
    {
      label: 'Home',
      route: '/',
      class: 'Homelink',
    },
    {
      label: 'About',
      route: `about`,
      class: 'Aboutlink',
    },
    {
      label: 'Browse',
      route: `/search`,
      class: 'Browselink',
    },
  ]
---
<Fragment>
  <div class="header-wrapper">
    <header class="header-main container-fluid" role="banner">
      <h1 class="sitename"><a href={appUrl}>{appName}</a></h1>
    </header>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <NavigationMobileMenu/>
      </div>
      <div class="navbar-collapse" >
        <ul class="nav navbar-nav">
          {
            HeaderNavigationItems.map(item => (
              <NavigationItem
                route={item.route}
                className={item.class}
                label={item.label}
              />
            ))
          }
        </ul>
        <div class="search_holder widget navbar-form navbar-right">
          <SearchForm client:only />
        </div>
      </div>
    </div>
  </nav>
</Fragment>
